# Estructuras
## Series
Es un arreglo unidimensional de un ***mismo tipo de dato*** </br>
El arreglo puede ser mediante indices **( listas )** o con llaves **( diccionarios )**

In [2]:
import pandas as pd

series_test = pd.Series([100, 200, 300])
series_tes

NameError: name 'series_tes' is not defined

In [3]:
series_test2 = pd.Series({1999: 48, 
                          2000: 65, 
                          2001: 89})

series_test2

1999    48
2000    65
2001    89
dtype: int64

## DataFrames
Es una lista de lista donde cada lista representa todos los datos de una sola columna

In [4]:
frame_test = pd.DataFrame({1999: [74, 38, 39],
                           2000: [34, 32, 32],
                           2001: [23, 39, 23]})

frame_test

   1999  2000  2001
0    74    34    23
1    38    32    39
2    39    32    23

In [7]:
frame_test2 = pd.DataFrame([[74, 38, 39],
                           [34, 32, 32],
                           [23, 39, 23]], columns=[1999, 2000, 2001])

frame_test2

   1999  2000  2001
0    74    38    39
1    34    32    32
2    23    39    23